@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: "Inter", "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #e2e8f0;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0f766e, #10b981);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #0d9488, #34d399);
}

/* Horizontal scrollbar styles */
::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-track:horizontal {
  background: #e2e8f0;
}

::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(90deg, #0f766e, #10b981);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: linear-gradient(90deg, #0d9488, #34d399);
}